<div>
    <a class="nav-link" routerLink="./{{device.name}}" routerLinkActive="router-link-active" >
      <div class="card text-white bg-info">
        <img class="card-img-top" src="data:image/png;base64,{{device.image}}"/>
        <div class="card-body">
          <h5 class="card-titel">{{device.name}}</h5>     
          <br>
          <span class="d-block text-center text-white">
            <i class="fa fa-arrow-circle-right fa-2x"></i>
          </span>
        </div>
      </div>
    </a>
  </div>