<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <img src="assets/img/fablab.png" width="40" height="37">
        <div class="sidebar-brand-text mx-3">FabInfo</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - FabInfo -->
    <li class="nav-item">
        <a class="nav-link font-weight-bold" routerLink="/"><i class="fas fa-fw fa-lightbulb"></i> FabInfo</a>
    </li>

    <!-- Nav Item - FabTools (logged & unlogged) -->
    <li class="nav-item font-weight-bold">
        <a class="nav-link" routerLink="/stations"><i class="fas fa-fw fa-tools"></i> FabTools</a>
    </li>

     <!-- Nav Item - Materials (logged & unlogged) -->
     <li class="nav-item font-weight-bold">
        <a class="nav-link" routerLink="/materials" routerLinkActive="router-link-active"><i class="fas fa-fw fa-toolbox"></i> Materials</a>
    </li> 

    <!-- Nav Item - Warning Safety (logged & unlogged) -->
    <li class="nav-item font-weight-bold">
        <a class="nav-link" routerLink="/safety" routerLinkActive="router-link-active"><i class="fas fa-fw fa-exclamation-triangle"></i> Safety</a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->