<!-- Breadcrumb Fabinfo-->
<ol class="breadcrumb">
        <li class="breadcrumb-item">
          <h3>FabInfo</h3>
        </li>
      </ol>
      <div class="col-xl-8 col-sm-12 mb-3">
        <p class="text-justify">For many stations / devices in Fablab it usually requires intensive instruction or instruction. In some cases, the machines and tools positioned here require a special qualification that allows personal use. The FabInfo tutorial system provides a remedy by clearly displaying and explaining the correct handling of each of the FabLab devices.</p>
        <p class="text-justify">Frequently recurring questions such as according to the settings, the materials to be used, etc., you can also find them here, in the corresponding category. Thus, we want to minimize or prevent the risk for you as a user, as well as for the devices as possible.</p>
        <p class="text-justify">The devices / machines are spread over two floors. On the upper floor is the public area of the FabLab. Here machines are available for use and there are also various work and seminar areas. The ground floor is primarily home to large-format machines and work areas where more dirt and noise are usually generated.</p>
        <p class="text-justify">On the first floor of Building 3 are the following work areas:</p>
        <ul>
          <li>3D-printer (16 different printers are available)</li>
          <li>3D-printing (large format)</li>
          <li>3D-scanner (4 different scanners)</li>
          <li>3D modeling (PC workstations with digitizer boards, etc.) > CNC milling machine (4-axis and 5-axis)</li>
          <li>Laser cutter</li>
          <li>Molding & casting (vacuum thermoforming, vacuum casting, tempering)</li>
          <li>Plotter & Cutter (1 large format plotter / cutter, 1 desktop cutter)</li>
          <li>Electronics & Soldering</li>
          <li>Small machines (div. Proxxon)</li>
          <li>Textile processing (CNC embroidery machine, sewing machine, thermal transfer press)</li>
          <li>5 worktables (3x metalworking, 2x electric tools)</li>
          <li>2 workshop or group workplaces (each with 55 “monitors) various hand machines</li>
          <li>Further technical equipment</li>
        </ul>
        <p class="text-justify">On the ground floor there are further work areas for:</p>
        <ul>
          <li>Woodworking, conventional (sliding table saw, band saw, planer/planer, drilling machine, various hand machines and tools)</li>
          <li>CNC wood and metal working (portal milling machine) > Metal working, conventional (router, lathe, curb, chop saw, miter saw, static grinding machines)</li>
          <li>Welding (Electro, MIG, MAG, TIG)</li>
          <li>Vacuum thermoforming unit (large format)</li>
          <li>various hand machines</li>
          <li>Further technical equipment</li>
        </ul>
      </div>
      <br>
    